{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Django Todo</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "style.css" %}">

		<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/001d0c45a2.js"></script>
		<script src="{% static "app.js" %}"></script>
	</head>
	<body>
	<header class="jumbotron">
		<div class="container">
			<h1>Django Todo List</h1>
			<p>A todo-<i>esque</i> implementation using Django and a <small>wee-bit</small> of JavaScript
		</div>
	</header>
	<main class="container">
		<section class="new-todo-section">
			<form method="POST" id="add-todo" action="add/" class="add-todo-form">
				{% csrf_token %}
				{{ form.as_p }}
			</form>
		</section>
		<section class="todo-list-section">
			{% for todo in todos %}
				<div id="__{{todo.pk}}-row" class="todo row">
					<div class="col-md-1">
						<a href class="toggle-todo" id="__{{todo.pk}}-toggle"><i id="__{{todo.pk}}" class="fa {% if todo.status %} fa-check-square-o {% else %} fa-square-o {% endif %}" aria-hidden="true"></i></a>
					</div>
					<div class="col-md-10">
						<div id="__{{todo.pk}}-label" class="todo-label {% if todo.status %} completed {% endif %}">{{ todo.title }}</div>
						<input id="__{{todo.pk}}-input" class="form-control input-lg hidden todo-input" value="{{ todo.title }}">
					</div>
					<div class="col-md-1">
						<a href class="delete-todo" id="__{{todo.pk}}-delete"><i id="__{{todo.pk}}-delete" class="fa fa-trash-o" aria-hidden="true"></i></a>
					</div>
				</div>
			{% endfor %}
		</section>
	</main>
	<footer>
	</footer>
	</body>
</html>